# How do we predict a potential match in dating?

Jingjin Wei, Lei Zhang

### Background

Imagine that we are a social search service app, like tinder. We have millions of users. They register and write down some personal description, looking for a match. Here comes the question: How do we predict the match? More precisely, for a user of our app, who should we recommend to him/her?

### Data description

The dataset we are using here was compiled by Columbia Business School professors Ray Fisman and Sheena Iyengar for their paper Gender Differences in Mate Selection: Evidence From a Speed Dating Experiment. In speed dating, the participants engage in a four-minute conversations and then determine if they are interested in the person or not. The subjects are students from graduate and professional schools of Columbia University. Before the actual meeting, all the participants registered would need to fill out a form online, which including some basic personal information (age/gender/religion/etc) and then give a self rating on their attributes like attractiveness. There are 14 rounds conducted in 2002 to 2004, with the number of participants varies. After the speed dating, all the participants would have to decide if they want to meet with the partner again. If only both say 'yes', we would call that a 'match'.

### Besides training a model to predict whether a male and a female will match, here're some interesting intuitive questions:
 
(1)What's the most important factor(s) when male or female make decisions?

(2)What's the difference between male and female when they choose their partners?

(3)Will a factor, such as age difference, positively effect or negatively effect one's decision?
 
To answer the above questions, before we train the model, we firstly normalize all parameters over given 8k samples with mean equals zero and variance equals 1. Under this condition, "NAN" in the data, which means the participants didn't give the information, can be treated as zero. After we train the model, the magnitude of coefficient will tell the importance of corresponding parameters, and sign of coefficient will show whether it will positively or negatively support.

In training data, we use first 1000 data as testing data and the rest 3500 data as training data for both male and female.

### part 1. Male

In [16]:

import pandas as pdde
import numpy as np
import matplotlib.pylab as plt
from sklearn import cross_validation, linear_model

%matplotlib inline
data_df = pd.read_csv("Speed Dating Data.csv", encoding="ISO-8859-1")
data_df.head()
fields = data_df.columns
num_dates_per_male = data_df[data_df.gender == 1].groupby('iid').apply(len)
num_dates_per_female = data_df[data_df.gender == 0].groupby('iid').apply(len)


# 1.Preprocessing
def str_to_float(series):
    return series.apply(lambda x: str(x).replace(",", "")).astype('float64')

for trait in ['mn_sat', 'tuition', 'income']:
    data_df[trait] = str_to_float(data_df[trait])

    
data_df['pid'] = data_df['pid'].fillna(-1.0).astype('int64')  # Invalid PID as -1

# standardize features
def standardize_feature(series):
    return (series - series.mean()) / series.std(ddof=0)
    
    
# 2.PROFILE OF THE PERSON
#     2.1 'tuition' + 'income' -> 'financial'

# fill out the nan in tuition and income to be mean value.
data_df['tuition']=data_df['tuition'].fillna(data_df['tuition'].mean())
data_df['income']=data_df['income'].fillna(data_df['income'].mean())


# standardize -> plus, not used

# data_df['financial'] = standardize_feature(data_df['tuition']) \
#                        .add(standardize_feature(data_df['income']), fill_value=0.0)

# plus -> standardize
data_df['financial'] = standardize_feature((data_df['tuition']) \
                       .add((data_df['income'])))

    
    
#     2.2 'date' + 'go_out' -> 'experience' 
#     fill nan
data_df['date']=data_df['date'].fillna(data_df['date'].mean())
data_df['go_out']=data_df['go_out'].fillna(data_df['go_out'].mean())

#     importance bet/ date and go_out. giving date more weight.
a=5
b=1
data_df['experience'] = a*data_df['date'] + b*data_df['go_out']
data_df['experience'] = standardize_feature(data_df['experience'])


#     2.3 'mn_sat' -> 'intelligence'
data_df['int'] = standardize_feature(data_df['mn_sat']);
data_df['int'] = data_df['int'].fillna(value = 0)

# 3 pairwise features for male participants

#     3.0
# divide them into female data and male data
data_df_m = data_df[data_df.gender == 1] #data of male
data_df_f = data_df[data_df.gender == 0] #data of female


# Create a dataframe containing information for each person that needs to be looked up
# profiles = data_df[['iid', 'mn_sat', 'goal', 'field_cd', 'financial', 'experience']]\
#            .set_index(keys='iid').drop_duplicates()
    
profiles_m = data_df_m[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
           .set_index(keys='iid').drop_duplicates()
for trait in ['int', 'financial', 'experience']:
#     profiles_m[trait] = profiles_m[trait].fillna(profiles_m[trait].mean())  # Fill NaN values with mean
    profiles_m[trait] = profiles_m[trait].fillna(value=0)


# data_df_m = data_df_m.fillna(data_df_m.mean())

profiles_f = data_df_f[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
           .set_index(keys='iid').drop_duplicates()
for trait in ['int', 'financial', 'experience']:
#     profiles_f[trait] = profiles_f[trait].fillna(profiles_f[trait].mean())  # Fill NaN values with mean
    profiles_f[trait] = profiles_f[trait].fillna(value=0)


##########################################################################

#     3.1 age difference =  male age - female age
data_df_m['age_diff'] = data_df_m['age'].sub(data_df_m['age_o'])  # Age difference
# If nan, set the value to be 0.
data_df_m['age_diff'] = data_df_m['age_diff'].fillna(value=0)
data_df_m['age_diff'] = standardize_feature(data_df_m['age_diff'])

#     3.2 same field
def is_similar_profession(x, profiles):
    if np.isnan(x['field_cd']) or np.isnan(x['pid']) or x['pid'] not in profiles.index or \
    x['field_cd'] != profiles.loc[x['pid']]['field_cd']:
        return -1
    else:
        return int(x['field_cd'] == profiles.loc[x['pid']]['field_cd'])
    
data_df_m['sim_profession'] = data_df_m[['field_cd', 'pid']]\
                            .apply(lambda x: is_similar_profession(x, profiles_f), axis=1)


#     3.2 same career
def is_similar_career(x, profiles):
    if np.isnan(x['career_c']) or np.isnan(x['pid']) or x['pid'] not in profiles.index or\
        x['career_c'] != profiles.loc[x['pid']]['career_c']:
        return -1
    else:
        return int(x['career_c'] == profiles.loc[x['pid']]['career_c'])
    
data_df_m['sim_career'] = data_df_m[['career_c', 'pid']]\
                            .apply(lambda x: is_similar_career(x, profiles_f), axis=1)
    
    
    
    

#     3.4 basic traits diffrence (standardized)
    
def trait_difference(trait):
    trait_other = data_df_m['pid'].apply(lambda x: profiles_f.loc[x][trait] if x in profiles_f.index else None)
    return data_df_m[trait].sub(trait_other)
    
# basic trait difference : male - female
for trait in ['int','experience', 'financial']:
    string= trait + '_diff'
    data_df_m[string] = trait_difference(trait)
    data_df_m[string] = data_df_m[string].fillna(value=0) 

data_df_m.loc[data_df_m['pid']==21].loc[data_df_m['iid']==40]
# data_df_m.loc[data_df_m['iid']==11]['pid']

############################################################
#     3.5.1 preprocess. 
attr_exp = ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']
attr_o = ['attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']

# profiles_f = data_df_f[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
#            .set_index(keys='iid').drop_duplicates()

# attr comes from original data, contains only the pair ids and attributes we need.
attr = data_df[['iid','gender','pid','attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1',\
               'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']].set_index(keys='iid').drop_duplicates()

# data_norm['sum1']=data_norm[f1].sum(axis=1)
attr['attr1_sum']=attr[attr_exp].sum(axis=1)
attr['attr3_sum']=attr[attr_o].sum(axis=1)

#############################################################

df_train = data_df_m[['iid','pid','match', 'age_diff','sim_profession','sim_career','int_diff','experience_diff','financial_diff']]
df_train['rating'] = np.zeros(len(df_train))

attr_exp_n = []
attr_o_n = []

for trait in attr_exp:
    
    attr[trait + '_n'] = attr[trait]/attr['attr1_sum'] 
    attr_exp_n.append(trait+'_n')

    
for trait in attr_o:
    
    attr[trait + '_n'] = attr[trait]/attr['attr3_sum'] 
    attr_o_n.append(trait+'_n')


    #######################################################
    
    
attr[attr_exp_n] = attr[attr_exp_n].fillna(value=1.0/6).astype('float64')
attr[attr_o_n] = attr[attr_o_n].fillna(value=1.0/6).astype('float64')

attr_m = attr[attr.gender == 1];
attr_f = attr[attr.gender == 0];


for i in attr_m.index.drop_duplicates():
    for j in attr_m.loc[i].pid:
        # j = female iid, (i,j) makes a pair
        temp1=0
        temp2=0
        temp3=0
        for k in np.arange(0,6):

            if i not in attr_m.index or \
                j not in attr_f.index:
                
                temp1 = 0
                temp2 = 0
            else:

                temp1 = attr_m.loc[attr_m['pid']==j].loc[i][attr_exp_n[k]]
                temp2 = attr_f.loc[attr_f['pid']==i].loc[j][attr_o_n[k]]
            temp3 += temp1*temp2

        get_index = df_train.loc[df_train['iid']==i].loc[df_train['pid']==j].index
        
        df_train.set_value(get_index,'rating',temp3)


df_train['rating']=standardize_feature((df_train['rating']))

/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:204: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Final data

Here is our final data.

iid: id of participants, male here

pid: id of partner, female here

dec: if the participants would like to meet the partner again.

age_diff: age_of_male - age_of_female

sim_profession : if they have similar profession

sim_career : if they have similar career plan

int_diff : we use the difference of the average SAT score of their undergrad college to measure the 'intelligence difference'	

experience_diff	: we combine the participants expeirience in their social life (including hanging out with friends and going out on date)

financial_diff : we use the average income of participants birth place to indicate the wealth of the participants

rating : rating = expectation_of_participants * self_ratings_of_partner. attr_exp_n is the expectation of attributes, attr_o_n is self rating.

In [17]:
df_train_all=df_train
df_test=df_train_all[:1000]
print(df_test)
df_train=df_train_all[1000:]
print(df_train)
df_train.head()

      iid  pid  match  age_diff  sim_profession  sim_career  int_diff  \
100    11    1      0  1.172198              -1          -1       0.0
101    11    2      0  0.531540              -1          -1       0.0
102    11    3      0  0.317987              -1          -1       0.0
103    11    4      0  0.745093              -1          -1       0.0
104    11    5      0  1.172198              -1          -1       0.0
105    11    6      0  0.745093              -1          -1       0.0
106    11    7      0  0.958645              -1          -1       0.0
107    11    8      0  0.317987              -1          -1       0.0
108    11    9      0  0.104434              -1          -1       0.0
109    11   10      0  0.104434              -1          -1       0.0
110    12    1      0  0.104434               1          -1       0.0
111    12    2      0 -0.536224               1          -1       0.0
112    12    3      0 -0.749777              -1          -1       0.0
113    12    4      0 -0.322671               1           1       0.0
114    12    5      0  0.104434               1           1       0.0
115    12    6      0 -0.322671               1           1       0.0
116    12    7      0 -0.109119               1           1       0.0
117    12    8      1 -0.749777              -1          -1       0.0
118    12    9      1 -0.963330              -1          -1       0.0
119    12   10      0 -0.963330              -1          -1       0.0
120    13    1      1  0.104434               1          -1       0.0
121    13    2      0 -0.536224               1          -1       0.0
122    13    3      0 -0.749777              -1          -1       0.0
123    13    4      0 -0.322671               1           1       0.0
124    13    5      0  0.104434               1           1       0.0
125    13    6      0 -0.322671               1           1       0.0
126    13    7      0 -0.109119               1           1       0.0
127    13    8      1 -0.749777              -1          -1       0.0
128    13    9      1 -0.963330              -1          -1       0.0
129    13   10      1 -0.963330              -1          -1       0.0
...   ...  ...    ...       ...             ...         ...       ...
2169  159  143      0 -1.176883              -1          -1       0.0
2170  159  144      0  0.958645               1           1       0.0
2171  159  145      0  0.745093               1           1       0.0
2172  159  146      0 -1.817541              -1           1       0.0
2173  159  147      0  0.317987              -1          -1       0.0
2174  159  148      0  0.104434              -1          -1       0.0
2175  159  149      0 -0.109119              -1           1       0.0
2176  159  150      0 -0.749777              -1           1       0.0
2177  159  151      0 -0.109119              -1          -1       0.0
2178  159  152      0  0.104434              -1           1       0.0
2179  159  153      1 -0.109119              -1           1       0.0
2180  159  154      0  0.104434              -1          -1       0.0
2181  159  155      0  0.104434              -1          -1       0.0
2182  159  156      0 -0.536224              -1          -1       0.0
2183  159  157      0 -0.109119              -1          -1       0.0
2184  160  142      0  0.958645              -1          -1       0.0
2185  160  143      0 -0.963330              -1          -1       0.0
2186  160  144      0  1.172198              -1          -1       0.0
2187  160  145      0  0.958645              -1          -1       0.0
2188  160  146      0 -1.603988              -1          -1       0.0
2189  160  147      1  0.531540               1          -1       0.0
2190  160  148      0  0.317987               1          -1       0.0
2191  160  149      1  0.104434              -1          -1       0.0
2192  160  150      0 -0.536224              -1          -1       0.0
2193  160  151      0  0.104434              -1          -1       0.0
2194  160  152      0  0.317987              -1          -1       0.0
2195  160  153      0  0.104434              -1          -1       0.0
2196  160  154      0  0.317987               1          -1       0.0
2197  160  155      0  0.317987               1          -1       0.0
2198  160  156      1 -0.322671               1          -1       0.0

      experience_diff  financial_diff    rating
100         -0.918442       -1.862490 -0.027808
101          0.393618       -1.593104  2.083518
102          1.705678        0.000000 -0.145104
103          0.393618        0.540106  1.027855
104          1.049648       -3.138479  1.379743
105          1.705678       -1.167219 -0.145104
106          0.393618       -0.736867 -0.145104
107          0.393618        0.000000 -0.145104
108          1.049648        0.000000 -0.145104
109         -0.262412       -0.285013 -0.145104
110         -3.936179       -3.047442 -0.731583
111         -2.624119       -2.778056  2.435406
112         -1.312060       -1.184952 -0.145104
113         -2.624119       -0.644846  1.027855
114         -1.968090       -4.323431  3.139181
115         -1.312060       -2.352171 -0.145104
116         -2.624119       -1.921819 -0.145104
117         -2.624119       -1.184952 -0.145104
118         -1.968090       -1.184952 -0.145104
119         -3.280149       -1.469965 -0.145104
120          0.000000       -1.862490 -0.080591
121          1.312060       -1.593104  0.359269
122          2.624119        0.000000 -0.145104
123          1.312060        0.540106  0.042570
124          1.968090       -3.138479  0.148136
125          2.624119       -1.167219 -0.145104
126          1.312060       -0.736867 -0.145104
127          1.312060        0.000000 -0.145104
128          1.968090        0.000000 -0.145104
129          0.656030       -0.285013 -0.145104
...               ...             ...       ...
2169        -0.918442        0.000000 -0.145104
2170         0.656030        1.181772 -0.091826
2171        -0.524824        0.462879 -0.079619
2172        -0.524824       -1.053498 -0.145104
2173         0.787236        0.231424 -0.066754
2174         1.443266        0.000000 -0.145104
2175         0.656030       -0.552582 -0.098846
2176         0.656030       -0.771695 -0.029216
2177         2.099296        0.000000  0.019094
2178         1.180854        0.000000 -0.168271
2179        -0.131206        0.000000 -0.145161
2180         1.443266       -4.010464 -0.103962
2181         0.787236       -2.251427 -0.145104
2182        -0.131206        1.763928 -0.145104
2183         0.131206        0.458487 -0.145104
2184         0.000000       -1.703918 -0.059868
2185        -1.574472       -1.260438 -0.145104
2186         0.000000       -0.078666 -0.129483
2187        -1.180854       -0.797559 -0.114064
2188        -1.180854       -2.313936 -0.145104
2189         0.131206       -1.029013 -0.131312
2190         0.787236       -1.260438 -0.145104
2191         0.000000       -1.813020 -0.119650
2192         0.000000       -2.032133 -0.088995
2193         1.443266       -1.260438 -0.081898
2194         0.524824       -1.260438 -0.150194
2195        -0.787236       -1.260438 -0.145080
2196         0.787236       -5.270901 -0.136048
2197         0.131206       -3.511865 -0.145104
2198        -0.787236        0.503490 -0.145104

[1000 rows x 10 columns]
      iid  pid  match  age_diff  sim_profession  sim_career  int_diff  \
2199  160  157      0  0.104434               1          -1  0.000000
2200  161  142      0 -0.536224              -1          -1  0.000000
2201  161  143      0 -2.458200              -1          -1  0.000000
2202  161  144      0 -0.322671               1          -1  0.000000
2203  161  145      0 -0.536224               1          -1  0.000000
2204  161  146      0 -3.098858              -1          -1  0.000000
2205  161  147      0 -0.963330              -1          -1  0.000000
2206  161  148      0 -1.176883              -1          -1  0.000000
2207  161  149      0 -1.390436              -1          -1  0.000000
2208  161  150      0 -2.031094              -1          -1  0.000000
2209  161  151      0 -1.390436              -1          -1  0.000000
2210  161  152      0 -1.176883              -1          -1  0.000000
2211  161  153      0 -1.390436              -1          -1  0.000000
2212  161  154      1 -1.176883              -1          -1  0.000000
2213  161  155      1 -1.176883              -1          -1  0.000000
2214  161  156      0 -1.817541              -1          -1  0.000000
2215  161  157      0 -1.390436              -1          -1  0.000000
2216  162  142      0  0.531540              -1          -1  0.000000
2217  162  143      0 -1.390436              -1          -1  0.000000
2218  162  144      1  0.745093               1          -1  0.000000
2219  162  145      0  0.531540               1          -1  0.000000
2220  162  146      0 -2.031094              -1          -1  0.000000
2221  162  147      0  0.104434              -1          -1  0.000000
2222  162  148      0 -0.109119              -1          -1  0.000000
2223  162  149      0 -0.322671              -1          -1  0.000000
2224  162  150      0 -0.963330              -1          -1  0.000000
2225  162  151      1 -0.322671              -1          -1  0.000000
2226  162  152      0 -0.109119              -1          -1  0.000000
2227  162  153      0 -0.322671              -1          -1  0.000000
2228  162  154      0 -0.109119              -1          -1  0.000000
...   ...  ...    ...       ...             ...         ...       ...
8348  551  523      0 -0.109119              -1          -1  0.837750
8349  551  524      0  0.317987              -1          -1 -0.250461
8350  551  525      0  0.531540              -1          -1  0.333949
8351  551  526      0  0.104434              -1          -1  1.769928
8352  551  527      0  0.531540              -1          -1  0.918359
8353  551  528      0 -0.536224              -1          -1  0.751384
8354  551  529      0  0.958645              -1          -1 -0.250461
8355  551  530      0  0.958645              -1          -1  0.837750
8356  552  509      1 -0.749777              -1          -1 -0.336827
8357  552  510      1 -0.322671              -1          -1  0.000000
8358  552  511      0  0.317987              -1          -1  0.000000
8359  552  512      0 -0.109119              -1          -1  0.164096
8360  552  513      1  0.317987              -1          -1  0.000000
8361  552  514      0  0.317987              -1          -1 -1.338672
8362  552  515      1  0.317987              -1          -1  0.000000
8363  552  516      1 -0.536224              -1          -1  0.000000
8364  552  517      0 -1.176883              -1          -1  0.606578
8365  552  518      0  0.317987              -1          -1  0.831994
8366  552  519      0 -0.322671              -1          -1 -1.255185
8367  552  520      0 -0.749777              -1          -1  0.506394
8368  552  521      0 -0.322671              -1          -1 -0.336827
8369  552  522      0  0.531540              -1          -1 -0.837750
8370  552  523      0 -0.536224              -1          -1  0.000000
8371  552  524      1 -0.109119              -1          -1 -1.088211
8372  552  525      0  0.104434              -1          -1 -0.503801
8373  552  526      0 -0.322671              -1          -1  0.932178
8374  552  527      0  0.104434              -1          -1  0.080609
8375  552  528      0 -0.963330              -1          -1 -0.086365
8376  552  529      0  0.531540              -1          -1 -1.088211
8377  552  530      0  0.531540              -1          -1  0.000000

      experience_diff  financial_diff    rating
2199        -0.524824       -0.801950 -0.145104
2200        -0.656030        0.229107  0.054959
2201        -2.230502        0.672587 -0.145104
2202        -0.656030        1.854359 -0.112535
2203        -1.836884        1.135466 -0.145126
2204        -1.836884       -0.380911 -0.145104
2205        -0.524824        0.904011 -0.030154
2206         0.131206        0.672587 -0.145104
2207        -0.656030        0.120005 -0.161037
2208        -0.656030       -0.099108 -0.129127
2209         0.787236        0.672587 -0.088576
2210        -0.131206        0.672587 -0.161037
2211        -1.443266        0.672587 -0.110268
2212         0.131206       -3.337877 -0.088508
2213        -0.524824       -1.578840 -0.145104
2214        -1.443266        2.436515 -0.145104
2215        -1.180854        1.131074 -0.145104
2216         0.656030       -0.443480 -0.116263
2217        -0.918442        0.000000 -0.145104
2218         0.656030        1.181772 -0.128118
2219        -0.524824        0.462879 -0.092042
2220        -0.524824       -1.053498 -0.145104
2221         0.787236        0.231424 -0.145138
2222         1.443266        0.000000 -0.145104
2223         0.656030       -0.552582 -0.106342
2224         0.656030       -0.771695 -0.089754
2225         2.099296        0.000000 -0.110728
2226         1.180854        0.000000 -0.139555
2227        -0.131206        0.000000 -0.126883
2228         1.443266       -4.010464 -0.154973
...               ...             ...       ...
8348         1.312060        1.142845 -0.145104
8349        -0.787236       -1.375172 -0.379695
8350         1.574472        1.407123 -0.145104
8351         0.656030        1.889671  3.139181
8352         1.312060        2.533503 -0.145104
8353         0.262412        2.400779  1.731630
8354         1.574472        0.708778 -0.731583
8355        -0.656030        1.142845 -0.731583
8356        -1.443266       -0.318378 -0.145104
8357        -3.411355        0.000000  5.426451
8358        -3.542561        0.000000 -0.145104
8359        -0.787236       -0.467532 -0.145104
8360        -3.017737       -0.863238 -6.009898
8361        -1.574472       -0.818416  7.361833
8362        -2.886531        2.744707 -0.145104
8363        -2.886531        1.846828 -0.145104
8364        -2.230502        0.342595 -0.145104
8365        -3.411355        1.175104 -0.145104
8366        -1.443266       -0.372891 -0.145104
8367        -3.280149       -0.041980  2.259462
8368        -0.656030       -0.038498 -0.467667
8369        -2.755325       -2.358415 -0.145104
8370        -1.574472        0.000000 -0.145104
8371        -3.673767       -2.518018 -0.467667
8372        -1.312060        0.264278 -0.145104
8373        -2.230502        0.746826  7.361833
8374        -1.574472        1.390658 -0.145104
8375        -2.624119        1.257934  3.227153
8376        -1.312060       -0.434067 -1.963190
8377        -3.542561        0.000000 -0.731583

[3194 rows x 10 columns]

,iid,pid,match,age_diff,sim_profession,sim_career,int_diff,experience_diff,financial_diff,rating
2199,160,157,0,0.104434,1,-1,0.0,-0.524824,-0.801950,-0.145104
2200,161,142,0,-0.536224,-1,-1,0.0,-0.656030,0.229107,0.054959
2201,161,143,0,-2.458200,-1,-1,0.0,-2.230502,0.672587,-0.145104
2202,161,144,0,-0.322671,1,-1,0.0,-0.656030,1.854359,-0.112535
2203,161,145,0,-0.536224,1,-1,0.0,-1.836884,1.135466,-0.145126

### Logistic Regression:

We use the first 1000 data as  testing data, and the rest over 3500 data as training data.

In [18]:
##Use Scikit logistic learn
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

from sklearn import linear_model, datasets
X = df_train[[ 'age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating']]
y = df_train["match"]
Xtest = df_test[[ 'age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating']]
ytest = df_test["match"]

clf_LR=LogisticRegression(C=1000)
clf_LR.fit(X,y)

print "No-R Single Logistic Regression accuracy:",clf_LR.score(Xtest,ytest)
clf_l1_LR = LogisticRegression(C=1, penalty='l1')
clf_l1_LR.fit(X,y)
print "Logistic Regression accuracy with l1 penalty:",clf_l1_LR.score(Xtest,ytest)
clf_l2_LR = LogisticRegression(C=1, penalty='l2')
clf_l2_LR.fit(X,y)
print "Logistic Regression accuracy with l2 penalty:",clf_l2_LR.score(Xtest,ytest)

print ("parameter of Male")
print ('age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating')
print(clf_LR.coef_)

No-R Single Logistic Regression accuracy: 0.823
Logistic Regression accuracy with l1 penalty: 0.823
Logistic Regression accuracy with l2 penalty: 0.823
parameter of Male
('age_diff', 'sim_profession', 'sim_career', 'int_diff', 'experience_diff', 'financial_diff', 'rating')
[[ 0.00387055  0.26222104 -0.00373471  0.03390501 -0.11622529 -0.13160005
   0.00503269]]

### Part II. Female Result

In [20]:
data_df_m = data_df[data_df.gender == 0] #data of female
data_df_f = data_df[data_df.gender == 1] #data of male


# Create a dataframe containing information for each person that needs to be looked up
# profiles = data_df[['iid', 'mn_sat', 'goal', 'field_cd', 'financial', 'experience']]\
#            .set_index(keys='iid').drop_duplicates()
    
profiles_m = data_df_m[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
           .set_index(keys='iid').drop_duplicates()
for trait in ['int', 'financial', 'experience']:
#     profiles_m[trait] = profiles_m[trait].fillna(profiles_m[trait].mean())  # Fill NaN values with mean
    profiles_m[trait] = profiles_m[trait].fillna(value=0)


# data_df_m = data_df_m.fillna(data_df_m.mean())

profiles_f = data_df_f[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
           .set_index(keys='iid').drop_duplicates()
for trait in ['int', 'financial', 'experience']:
#     profiles_f[trait] = profiles_f[trait].fillna(profiles_f[trait].mean())  # Fill NaN values with mean
    profiles_f[trait] = profiles_f[trait].fillna(value=0)


##########################################################################

#     3.1 age difference =  male age - female age
data_df_m['age_diff'] = data_df_m['age'].sub(data_df_m['age_o'])  # Age difference
# If nan, set the value to be 0.
data_df_m['age_diff'] = data_df_m['age_diff'].fillna(value=0)
data_df_m['age_diff'] = standardize_feature(data_df_m['age_diff'])

#     3.2 same field
def is_similar_profession(x, profiles):
    if np.isnan(x['field_cd']) or np.isnan(x['pid']) or x['pid'] not in profiles.index or \
    x['field_cd'] != profiles.loc[x['pid']]['field_cd']:
        return -1
    else:
        return int(x['field_cd'] == profiles.loc[x['pid']]['field_cd'])
    
data_df_m['sim_profession'] = data_df_m[['field_cd', 'pid']]\
                            .apply(lambda x: is_similar_profession(x, profiles_f), axis=1)


#     3.2 same career
def is_similar_career(x, profiles):
    if np.isnan(x['career_c']) or np.isnan(x['pid']) or x['pid'] not in profiles.index or\
        x['career_c'] != profiles.loc[x['pid']]['career_c']:
        return -1
    else:
        return int(x['career_c'] == profiles.loc[x['pid']]['career_c'])
    
data_df_m['sim_career'] = data_df_m[['career_c', 'pid']]\
                            .apply(lambda x: is_similar_career(x, profiles_f), axis=1)
    
    
    
    

#     3.4 basic traits diffrence (standardized)
    
def trait_difference(trait):
    trait_other = data_df_m['pid'].apply(lambda x: profiles_f.loc[x][trait] if x in profiles_f.index else None)
    return data_df_m[trait].sub(trait_other)
    
# basic trait difference : male - female
for trait in ['int','experience', 'financial']:
    string= trait + '_diff'
    data_df_m[string] = trait_difference(trait)
    data_df_m[string] = data_df_m[string].fillna(value=0) 

# data_df_m.loc[data_df_m['pid']==21].loc[data_df_m['iid']==40]
# data_df_m.loc[data_df_m['iid']==11]['pid']

############################################################
#     3.5.1 preprocess. 
attr_exp = ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']
attr_o = ['attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']

# profiles_f = data_df_f[['iid', 'int',  'field_cd', 'financial', 'experience','career_c']]\
#            .set_index(keys='iid').drop_duplicates()

# attr comes from original data, contains only the pair ids and attributes we need.
attr = data_df[['iid','gender','pid','attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1',\
               'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']].set_index(keys='iid').drop_duplicates()

# data_norm['sum1']=data_norm[f1].sum(axis=1)
attr['attr1_sum']=attr[attr_exp].sum(axis=1)
attr['attr3_sum']=attr[attr_o].sum(axis=1)

#############################################################

df_train = data_df_m[['iid','pid','match', 'age_diff','sim_profession','sim_career','int_diff','experience_diff','financial_diff']]
df_train['rating'] = np.zeros(len(df_train))

attr_exp_n = []
attr_o_n = []

for trait in attr_exp:
    
    attr[trait + '_n'] = attr[trait]/attr['attr1_sum'] 
    attr_exp_n.append(trait+'_n')

    
for trait in attr_o:
    
    attr[trait + '_n'] = attr[trait]/attr['attr3_sum'] 
    attr_o_n.append(trait+'_n')


    #######################################################
    
    
attr[attr_exp_n] = attr[attr_exp_n].fillna(value=1.0/6).astype('float64')
attr[attr_o_n] = attr[attr_o_n].fillna(value=1.0/6).astype('float64')

attr_m = attr[attr.gender == 0];
attr_f = attr[attr.gender == 1];


for i in attr_m.index.drop_duplicates():
    for j in attr_m.loc[i].pid:
        # j = female iid, (i,j) makes a pair
        temp1=0
        temp2=0
        temp3=0
        for k in np.arange(0,6):

            if i not in attr_m.index or \
                j not in attr_f.index:
                
                temp1 = 0
                temp2 = 0
            else:

                temp1 = attr_m.loc[attr_m['pid']==j].loc[i][attr_exp_n[k]]
                temp2 = attr_f.loc[attr_f['pid']==i].loc[j][attr_o_n[k]]
            temp3 += temp1*temp2

        get_index = df_train.loc[df_train['iid']==i].loc[df_train['pid']==j].index
        
        df_train.set_value(get_index,'rating',temp3)


df_train['rating']=standardize_feature((df_train['rating']))   
df_train_all=df_train
df_test=df_train_all[:1000]
print(df_test)
df_train=df_train_all[1000:]
print(df_train)
df_train.head()

/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Jingjin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      iid  pid  match  age_diff  sim_profession  sim_career  int_diff  \
0       1   11      0 -1.170556              -1          -1       0.0
1       1   12      0 -0.104051               1          -1       0.0
2       1   13      1 -0.104051               1          -1       0.0
3       1   14      1 -0.317352               1          -1       0.0
4       1   15      1 -0.530653               1          -1       0.0
5       1   16      0 -0.743954              -1          -1       0.0
6       1   17      0 -1.810459              -1          -1       0.0
7       1   18      0 -1.170556              -1          -1       0.0
8       1   19      1 -1.383857              -1          -1       0.0
9       1   20      0 -0.530653              -1          -1       0.0
10      2   11      0 -0.530653              -1          -1       0.0
11      2   12      0  0.535853               1          -1       0.0
12      2   13      0  0.535853               1          -1       0.0
13      2   14      1  0.322552               1          -1       0.0
14      2   15      0  0.109251               1          -1       0.0
15      2   16      0 -0.104051              -1          -1       0.0
16      2   17      0 -1.170556              -1          -1       0.0
17      2   18      0 -0.530653              -1          -1       0.0
18      2   19      1 -0.743954              -1          -1       0.0
19      2   20      0  0.109251              -1          -1       0.0
20      3   11      0 -0.317352              -1          -1       0.0
21      3   12      0  0.749154              -1          -1       0.0
22      3   13      0  0.749154              -1          -1       0.0
23      3   14      0  0.535853              -1          -1       0.0
24      3   15      0  0.322552              -1          -1       0.0
25      3   16      0  0.109251              -1          -1       0.0
26      3   17      0 -0.957255              -1          -1       0.0
27      3   18      0 -0.317352              -1          -1       0.0
28      3   19      0 -0.530653              -1          -1       0.0
29      3   20      0  0.322552              -1          -1       0.0
...   ...  ...    ...       ...             ...         ...       ...
1923  143  169      0  1.175756              -1          -1       0.0
1924  143  170      0  1.175756              -1          -1       0.0
1925  143  171      0  0.962455              -1          -1       0.0
1926  143  172      0  1.389057              -1          -1       0.0
1927  143  173      0  2.455563              -1          -1       0.0
1928  144  158      0  0.109251               1           1       0.0
1929  144  159      0 -0.957255               1           1       0.0
1930  144  160      0 -1.170556              -1          -1       0.0
1931  144  161      0  0.322552               1          -1       0.0
1932  144  162      1 -0.743954               1          -1       0.0
1933  144  163      0 -0.530653              -1           1       0.0
1934  144  164      0 -0.743954              -1           1       0.0
1935  144  165      0 -1.383857              -1          -1       0.0
1936  144  166      0 -0.530653              -1          -1       0.0
1937  144  167      0  0.109251               1           1       0.0
1938  144  168      0  0.109251               1          -1       0.0
1939  144  169      0 -0.957255               1           1       0.0
1940  144  170      0 -0.957255               1          -1       0.0
1941  144  171      0 -1.170556              -1          -1       0.0
1942  144  172      0 -0.743954              -1          -1       0.0
1943  144  173      0  0.322552              -1           1       0.0
1944  145  158      0  0.322552               1           1       0.0
1945  145  159      0 -0.743954               1           1       0.0
1946  145  160      0 -0.957255              -1          -1       0.0
1947  145  161      0  0.535853               1          -1       0.0
1948  145  162      0 -0.530653               1          -1       0.0
1949  145  163      0 -0.317352              -1           1       0.0
1950  145  164      0 -0.530653              -1           1       0.0
1951  145  165      0 -1.170556              -1          -1       0.0
1952  145  166      0 -0.317352              -1          -1       0.0

      experience_diff  financial_diff    rating
0            0.918442        1.862490  0.039214
1            3.936179        3.047442 -0.097389
2            0.000000        1.862490 -0.097389
3            1.968090        0.977226 -0.165691
4            1.968090        2.476189 -0.165691
5            1.312060        1.862490 -0.370595
6            2.492913        2.342480  0.141666
7            0.656030        1.323233 -0.268143
8            3.936179        1.862490 -0.097389
9            0.000000        0.000000 -0.097389
10          -0.393618        1.593104  3.010331
11           2.624119        2.778056 -0.097389
12          -1.312060        1.593104 -0.097389
13           0.656030        0.707839  3.420140
14           0.656030        2.206802  2.805426
15           0.000000        1.593104  5.366734
16           1.180854        2.073093  3.932402
17          -0.656030        1.053847  2.702974
18           2.624119        1.593104 -0.097389
19           0.000000        0.000000 -0.097389
20          -1.705678        0.000000  1.883355
21           1.312060        1.184952 -0.097389
22          -2.624119        0.000000 -0.097389
23          -0.656030       -0.885264  2.088260
24          -0.656030        0.613699  1.678451
25          -1.312060        0.000000  3.932402
26          -0.131206        0.479990  3.625045
27          -1.968090       -0.539257  1.883355
28           1.312060        0.000000 -0.097389
29           0.000000        0.000000 -0.097389
...               ...             ...       ...
1923         0.918442        1.022472 -0.045185
1924         1.443266        0.000000  0.041358
1925         0.000000        0.000000 -0.221938
1926         3.017737        0.000000 -0.097389
1927         2.361708        0.000000 -0.097389
1928        -0.656030       -0.603356 -0.141817
1929        -0.656030       -1.181772 -0.086245
1930         0.000000        0.078666 -0.097389
1931         0.656030       -1.854359 -0.097389
1932        -0.656030       -1.181772 -0.097389
1933         1.180854       -2.030391 -0.060974
1934        -0.656030       -0.172701 -0.097389
1935        -0.787236       -1.755629 -0.152025
1936         0.000000       -3.840686 -0.097389
1937        -0.656030       -1.385015 -0.097389
1938         0.656030        0.517876 -0.097389
1939        -0.656030       -0.159300 -0.102961
1940        -0.131206       -1.181772 -0.141840
1941         0.000000        0.000000 -0.097416
1942         1.443266       -1.181772 -0.097389
1943         0.787236       -1.181772 -0.097389
1944         0.524824        0.115538  0.090213
1945         0.524824       -0.462879  0.010320
1946         1.180854        0.797559 -0.097389
1947         1.836884       -1.135466 -0.097389
1948         0.524824       -0.462879 -0.097389
1949         2.361708       -1.311498 -0.014428
1950         0.524824        0.546192 -0.097389
1951         0.393618       -1.036736  0.089014
1952         1.180854       -3.121792 -0.097389

[1000 rows x 10 columns]
      iid  pid  match  age_diff  sim_profession  sim_career  int_diff  \
1953  145  167      0  0.322552               1           1  0.000000
1954  145  168      0  0.322552               1          -1  0.000000
1955  145  169      0 -0.743954               1           1  0.000000
1956  145  170      0 -0.743954               1          -1  0.000000
1957  145  171      0 -0.957255              -1          -1  0.000000
1958  145  172      0 -0.530653              -1          -1  0.000000
1959  145  173      0  0.535853              -1           1  0.000000
1960  146  158      0  2.882165              -1           1  0.000000
1961  146  159      0  1.815659              -1           1  0.000000
1962  146  160      0  1.602358              -1          -1  0.000000
1963  146  161      0  3.095466              -1          -1  0.000000
1964  146  162      0  2.028960              -1          -1  0.000000
1965  146  163      0  2.242262              -1           1  0.000000
1966  146  164      1  2.028960              -1           1  0.000000
1967  146  165      0  1.389057              -1          -1  0.000000
1968  146  166      0  2.242262              -1          -1  0.000000
1969  146  167      0  2.882165              -1           1  0.000000
1970  146  168      0  2.882165              -1          -1  0.000000
1971  146  169      0  1.815659              -1           1  0.000000
1972  146  170      0  1.815659              -1          -1  0.000000
1973  146  171      0  1.602358              -1          -1  0.000000
1974  146  172      0  2.028960              -1          -1  0.000000
1975  146  173      0  3.095466              -1           1  0.000000
1976  147  158      0  0.749154              -1          -1  0.000000
1977  147  159      0 -0.317352              -1          -1  0.000000
1978  147  160      1 -0.530653               1          -1  0.000000
1979  147  161      0  0.962455              -1          -1  0.000000
1980  147  162      0 -0.104051              -1          -1  0.000000
1981  147  163      0  0.109251              -1          -1  0.000000
1982  147  164      0 -0.104051              -1          -1  0.000000
...   ...  ...    ...       ...             ...         ...       ...
7864  529  545      0 -0.317352               1          -1  0.000000
7865  529  546      0 -1.597158              -1          -1  0.000000
7866  529  547      0 -1.597158              -1          -1  0.000000
7867  529  548      0 -1.597158              -1          -1  0.000000
7868  529  549      0 -1.170556              -1          -1  1.088211
7869  529  550      0 -1.597158              -1          -1  0.000000
7870  529  551      0 -0.957255              -1          -1  0.250461
7871  529  552      0 -0.530653              -1          -1  1.088211
7872  530  531      0 -0.530653               1          -1  0.000000
7873  530  532      0 -0.743954               1          -1  0.481348
7874  530  533      0 -0.743954               1          -1  0.000000
7875  530  534      1 -0.317352               1          -1  0.000000
7876  530  535      0 -0.104051              -1          -1  0.748506
7877  530  536      0 -1.383857              -1          -1  0.000000
7878  530  537      0  0.109251               1          -1 -0.078016
7879  530  538      0 -2.023760              -1          -1  0.000000
7880  530  539      0  0.109251              -1          -1 -1.088211
7881  530  540      0 -0.317352               1          -1 -1.255185
7882  530  541      0 -0.104051               1          -1  0.000000
7883  530  542      0 -0.104051              -1          -1  0.000000
7884  530  543      0 -0.317352               1          -1 -0.169852
7885  530  544      1 -0.104051               1          -1 -0.078016
7886  530  545      0 -0.317352               1          -1 -1.088211
7887  530  546      0 -1.597158              -1          -1  0.000000
7888  530  547      0 -1.597158              -1          -1  0.000000
7889  530  548      0 -1.597158              -1          -1  0.000000
7890  530  549      0 -1.170556              -1          -1  0.000000
7891  530  550      0 -1.597158              -1          -1  0.000000
7892  530  551      0 -0.957255              -1          -1 -0.837750
7893  530  552      0 -0.530653              -1          -1  0.000000

      experience_diff  financial_diff    rating
1953         0.524824       -0.666122 -0.097389
1954         1.836884        1.236769 -0.097389
1955         0.524824        0.559594 -0.046690
1956         1.049648       -0.462879  0.133706
1957         0.000000        0.000000 -0.097234
1958         2.624119       -0.462879 -0.097389
1959         1.968090       -0.462879 -0.097389
1960         0.524824        1.631915 -0.039707
1961         0.524824        1.053498 -0.046793
1962         1.180854        2.313936 -0.097389
1963         1.836884        0.380911 -0.097389
1964         0.524824        1.053498 -0.097389
1965         2.361708        0.204879 -0.097451
1966         0.524824        2.062569 -0.097389
1967         0.393618        0.479641 -0.014666
1968         1.180854       -1.605415 -0.097389
1969         0.524824        0.850255 -0.097389
1970         1.836884        2.753146 -0.097389
1971         0.524824        2.075971 -0.046793
1972         1.049648        1.053498  0.046864
1973         0.000000        0.000000 -0.058628
1974         2.624119        1.053498 -0.097389
1975         1.968090        1.053498 -0.097389
1976        -0.787236        0.346992 -0.103701
1977        -0.787236       -0.231424 -0.002660
1978        -0.131206        1.029013 -0.097389
1979         0.524824       -0.904011 -0.097389
1980        -0.787236       -0.231424 -0.097389
1981         1.049648       -1.080044 -0.061056
1982        -0.787236        0.777647 -0.097389
...               ...             ...       ...
7864        -2.099296        2.129091  0.039214
7865         0.000000        0.000000 -1.395118
7866         0.000000        0.000000 -0.097389
7867         0.000000        0.000000 -0.165691
7868        -1.968090        0.434067 -0.780404
7869         0.000000        0.000000 -0.097389
7870        -1.574472       -0.708778 -0.097389
7871         1.312060        0.434067 -1.600023
7872         0.131206        0.000000 -0.097389
7873         3.411355        0.687967  0.653928
7874         0.787236        0.000000 -0.097389
7875         0.918442        0.000000 -0.097389
7876         1.312060       -0.422059 -0.097389
7877         1.443266        0.000000 -0.097389
7878         1.574472       -0.816598  0.346571
7879         0.000000        0.000000 -0.097389
7880         2.230502       -0.407871 -0.097389
7881        -0.131206       -0.434067 -0.165691
7882         0.000000        0.000000 -0.097389
7883         0.000000        0.000000 -0.097389
7884         0.131206       -0.537142 -0.097389
7885         0.000000        1.077207 -0.097389
7886         0.131206        1.695024 -0.165691
7887         0.000000        0.000000  1.063737
7888         0.000000        0.000000 -0.097389
7889         0.000000        0.000000  1.063737
7890         0.262412        0.000000 -0.268143
7891         0.000000        0.000000 -0.097389
7892         0.656030       -1.142845 -0.097389
7893         3.542561        0.000000  0.244119

[3184 rows x 10 columns]

,iid,pid,match,age_diff,sim_profession,sim_career,int_diff,experience_diff,financial_diff,rating
1953,145,167,0,0.322552,1,1,0.0,0.524824,-0.666122,-0.097389
1954,145,168,0,0.322552,1,-1,0.0,1.836884,1.236769,-0.097389
1955,145,169,0,-0.743954,1,1,0.0,0.524824,0.559594,-0.046690
1956,145,170,0,-0.743954,1,-1,0.0,1.049648,-0.462879,0.133706
1957,145,171,0,-0.957255,-1,-1,0.0,0.000000,0.000000,-0.097234

In [21]:
df_train

,iid,pid,match,age_diff,sim_profession,sim_career,int_diff,experience_diff,financial_diff,rating
1953,145,167,0,0.322552,1,1,0.000000,0.524824,-0.666122,-0.097389
1954,145,168,0,0.322552,1,-1,0.000000,1.836884,1.236769,-0.097389
1955,145,169,0,-0.743954,1,1,0.000000,0.524824,0.559594,-0.046690
1956,145,170,0,-0.743954,1,-1,0.000000,1.049648,-0.462879,0.133706
1957,145,171,0,-0.957255,-1,-1,0.000000,0.000000,0.000000,-0.097234
1958,145,172,0,-0.530653,-1,-1,0.000000,2.624119,-0.462879,-0.097389
1959,145,173,0,0.535853,-1,1,0.000000,1.968090,-0.462879,-0.097389
1960,146,158,0,2.882165,-1,1,0.000000,0.524824,1.631915,-0.039707
1961,146,159,0,1.815659,-1,1,0.000000,0.524824,1.053498,-0.046793
1962,146,160,0,1.602358,-1,-1,0.000000,1.180854,2.313936,-0.097389
1963,146,161,0,3.095466,-1,-1,0.000000,1.836884,0.380911,-0.097389
1964,146,162,0,2.028960,-1,-1,0.000000,0.524824,1.053498,-0.097389
1965,146,163,0,2.242262,-1,1,0.000000,2.361708,0.204879,-0.097451
1966,146,164,1,2.028960,-1,1,0.000000,0.524824,2.062569,-0.097389
1967,146,165,0,1.389057,-1,-1,0.000000,0.393618,0.479641,-0.014666
1968,146,166,0,2.242262,-1,-1,0.000000,1.180854,-1.605415,-0.097389
1969,146,167,0,2.882165,-1,1,0.000000,0.524824,0.850255,-0.097389
1970,146,168,0,2.882165,-1,-1,0.000000,1.836884,2.753146,-0.097389
1971,146,169,0,1.815659,-1,1,0.000000,0.524824,2.075971,-0.046793
1972,146,170,0,1.815659,-1,-1,0.000000,1.049648,1.053498,0.046864
1973,146,171,0,1.602358,-1,-1,0.000000,0.000000,0.000000,-0.058628
1974,146,172,0,2.028960,-1,-1,0.000000,2.624119,1.053498,-0.097389
1975,146,173,0,3.095466,-1,1,0.000000,1.968090,1.053498,-0.097389
1976,147,158,0,0.749154,-1,-1,0.000000,-0.787236,0.346992,-0.103701
1977,147,159,0,-0.317352,-1,-1,0.000000,-0.787236,-0.231424,-0.002660
1978,147,160,1,-0.530653,1,-1,0.000000,-0.131206,1.029013,-0.097389
1979,147,161,0,0.962455,-1,-1,0.000000,0.524824,-0.904011,-0.097389
1980,147,162,0,-0.104051,-1,-1,0.000000,-0.787236,-0.231424,-0.097389
1981,147,163,0,0.109251,-1,-1,0.000000,1.049648,-1.080044,-0.061056
1982,147,164,0,-0.104051,-1,-1,0.000000,-0.787236,0.777647,-0.097389
...,...,...,...,...,...,...,...,...,...,...
7864,529,545,0,-0.317352,1,-1,0.000000,-2.099296,2.129091,0.039214
7865,529,546,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-1.395118
7866,529,547,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-0.097389
7867,529,548,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-0.165691
7868,529,549,0,-1.170556,-1,-1,1.088211,-1.968090,0.434067,-0.780404
7869,529,550,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-0.097389
7870,529,551,0,-0.957255,-1,-1,0.250461,-1.574472,-0.708778,-0.097389
7871,529,552,0,-0.530653,-1,-1,1.088211,1.312060,0.434067,-1.600023
7872,530,531,0,-0.530653,1,-1,0.000000,0.131206,0.000000,-0.097389
7873,530,532,0,-0.743954,1,-1,0.481348,3.411355,0.687967,0.653928
7874,530,533,0,-0.743954,1,-1,0.000000,0.787236,0.000000,-0.097389
7875,530,534,1,-0.317352,1,-1,0.000000,0.918442,0.000000,-0.097389
7876,530,535,0,-0.104051,-1,-1,0.748506,1.312060,-0.422059,-0.097389
7877,530,536,0,-1.383857,-1,-1,0.000000,1.443266,0.000000,-0.097389
7878,530,537,0,0.109251,1,-1,-0.078016,1.574472,-0.816598,0.346571
7879,530,538,0,-2.023760,-1,-1,0.000000,0.000000,0.000000,-0.097389
7880,530,539,0,0.109251,-1,-1,-1.088211,2.230502,-0.407871,-0.097389
7881,530,540,0,-0.317352,1,-1,-1.255185,-0.131206,-0.434067,-0.165691
7882,530,541,0,-0.104051,1,-1,0.000000,0.000000,0.000000,-0.097389
7883,530,542,0,-0.104051,-1,-1,0.000000,0.000000,0.000000,-0.097389
7884,530,543,0,-0.317352,1,-1,-0.169852,0.131206,-0.537142,-0.097389
7885,530,544,1,-0.104051,1,-1,-0.078016,0.000000,1.077207,-0.097389
7886,530,545,0,-0.317352,1,-1,-1.088211,0.131206,1.695024,-0.165691
7887,530,546,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,1.063737
7888,530,547,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-0.097389
7889,530,548,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,1.063737
7890,530,549,0,-1.170556,-1,-1,0.000000,0.262412,0.000000,-0.268143
7891,530,550,0,-1.597158,-1,-1,0.000000,0.000000,0.000000,-0.097389
7892,530,551,0,-0.957255,-1,-1,-0.837750,0.656030,-1.142845,-0.097389
7893,530,552,0,-0.530653,-1,-1,0.000000,3.542561,0.000000,0.244119

In [22]:
##Use Scikit logistic learn
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

from sklearn import linear_model, datasets
X = df_train[[ 'age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating']]
y = df_train["match"]
Xtest = df_test[[ 'age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating']]
ytest = df_test["match"]

clf_LR=LogisticRegression(C=1000)
clf_LR.fit(X,y)

print "No-R Single Logistic Regression accuracy:",clf_LR.score(Xtest,ytest)
clf_l1_LR = LogisticRegression(C=0.1, penalty='l1')
clf_l1_LR.fit(X,y)
print "Logistic Regression accuracy with l1 penalty:",clf_l1_LR.score(Xtest,ytest)
clf_l2_LR = LogisticRegression(C=0.1, penalty='l2')
clf_l2_LR.fit(X,y)
print "Logistic Regression accuracy with l2 penalty:",clf_l2_LR.score(Xtest,ytest)

print ("parameter of Female")
print ('age_diff','sim_profession',
         'sim_career','int_diff','experience_diff','financial_diff','rating')
print(clf_LR.coef_)

No-R Single Logistic Regression accuracy: 0.82
Logistic Regression accuracy with l1 penalty: 0.82
Logistic Regression accuracy with l2 penalty: 0.82
parameter of Female
('age_diff', 'sim_profession', 'sim_career', 'int_diff', 'experience_diff', 'financial_diff', 'rating')
[[-0.01748436  0.28766951 -0.02164836 -0.00968521  0.13286699  0.08635026
  -0.01038006]]

### Conclusion:
Here's the results from Logistic results:

 Male accuracy: 0.823
 
 Female accuracy: 0.82


|Coeff | age_diff|    sim_profession |  sim_career |   int_diff  | experience_diff  | financial_diff   |   rating|
|--|--------------|----------------|----------------|------------|------------------|-----------------|----------|
|Male |  0.00387055  |  0.26222104  |   -0.00373471 | 0.03390501 |  -0.11622529    |   -0.13160005    |   0.00503269|
|Female | -0.01748436  | 0.28766951  |   -0.02164836 |  -0.00968521 | 0.13286699    |    0.08635026   |   -0.01038006|

In conclusion, this is a material world!

1. The rating is the only subjective factor in these 7 parameters, which indicates the scores of partner's attributes (including many personal characteristics  like attractiveness, intelligence, fun, ambitious and so on). But its coefficients are so small in magnitude, for both male and female.
2. Sim_profession is the most important factor, which means if the participants and partners are of the same profession. It's not hard to imagine that if both of them come from the same background they will have more to talk about in the first date, and more probable to give a 'yes'.
3. experience_diff: this is a factor indicating partner/participants experience in social life, including hanging out with friends and going out on dates. The more often the partner/participants engage in social activities, the higher the rating. So if the difference is positive it means that the participants are more experienced than partners. From the sign we can see that in general both male and female would prefer a relationship in which male is more experienced in social.
4. financial_diff : Financial is an indicator of the wealthiness of the family. From the sign we know that both male and female would prefer a relationship in which the male is wealthier than the female, which is in accord with the mainstream idea.